!!!
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title="tote - A thin namespaced wrapper for localStorage"
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Maven+Pro")
    link(rel="stylesheet", href="theme/default.css" media="screen")
    script(src="dist/tote.js", type="text/javascript")
  body

    header
      .row.centered
        .logo.col-6 tote
        nav.main.col-6
          ul
            li
              a(href="spec/") Specs
            li
              a(href="https://github.com/rudylattae/tote") GitHub


    .preface
      .row.centered
        section.col-6
          p.tagline A thin namespaced wrapper for localStorage
          p.blurb.
            Use localStorage as though it is a bunch of small containers for specific areas of your app.
            As a bonus, you are free to store and retrive any datatype -- not just strings!

        section.synopsis.col-6
          :markdown
            ```javascript
            var prefs = tote('settings');

            prefs.set('enableSync', true);
            prefs.get('enableSync');
            // true

            prefs.remove('enableSync');
            prefs.get('enableSync');
            // null
            ```

      .row.centered
        hr.divider


    main
      .row.centered
        article.col-12
          !=yield


    footer
      .row.centered
        .col-12 
          small Copyright &copy; 2014 Rudy Lattae | MIT License


    script(src="prism.js", type="text/javascript")