!!!
html
  head
    meta( name="viewport", content="width=device-width, initial-scale=1.0" )
    meta( name="keywords", content=keywords )
    meta( name="description", content=description )
    title = title
    link( rel="stylesheet", href="http://fonts.googleapis.com/css?family=Maven+Pro" )
    link( rel="stylesheet", href="/theme/default.css" media="screen" )
    script( type="text/javascript", src="dist/tote.js" )
  body

    header
      .row.centered
        .logo.col-3 tote
        nav.main.col-9
          ul
            li
              a( href="./#about" ) About
            li
              a( href="./#quickstart" ) Quickstart
            li
              a( href="./#api" ) API
            li
              a( href="https://github.com/rudylattae/tote" ) GitHub
            li
              <iframe src="http://ghbtns.com/github-btn.html?user=rudylattae&repo=tote&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="75" height="20"></iframe>


    .preface
      .row.centered
        section.col-12
          p.tagline A thin namespaced localStorage API.

          p.note.note-danger
            strong IMPORTANT: 
            | tote is not yet stable so you should not use it in production. If you like what you see so far,
            | star it on GitHub so I know you want to use it.

        section.col-6
          :markdown
            ```javascript
            var about = tote('about-tote');

            about.set( 'tags', ['simple', 'tiny'] );
            console.log( about.get('tags') );
            // ['simple', 'tiny']

            about.set( 'isActive', true );
            console.log( about.get('isActive') );
            // true

            about.remove('isActive');
            console.log( about.get('isActive') );
            // null
            ```

        section.facts.col-6
          dl.well.muted
            dt Status
            dd Unstable Aplha
            dt Version
            dd #{version} | 
              date #{releaseDate}
            dt License
            dd Open Source -- MIT
            dt Environments
            dd Browser
            dt Resources
            dd
              a( href="./spec/", title="Run the tote specs in your browser" ) Specs
              , 
              a( href="http://jsperf.com/tote-vs-native-storage" title="tote vs native localStorage on jsperf.com" ) jsPerf
              , 
              a( href="https://github.com/rudylattae/tote", title="Source repo and issue tracker" ) GitHub
              , 
              a( href="https://huboard.com/rudylattae/tote", title="Project Roadmap and Kanban board" ) Huboard
            hr.divider
            dt Install with
            dd Bower, Component... soon
            dt Download
            dd
              a(href="dist/tote.js" class="btn btn-primary btn-small") Full (4.2k)
              a(href="dist/tote.min.js" class="btn btn-small") Minified (1.4k)
            dt Embed
            dd
              a(href="dist/tote-embed.js" class="btn btn-small") Full (4.2k)
              a(href="dist/tote-embed.min.js" class="btn btn-small") Minified (1.4k)

      .row.centered
        hr.divider


    main
      .row.centered
        article.col-12
          !=yield


    footer
      .row.centered
        .col-12 
          small Copyright &copy; 2014 Rudy Lattae | MIT License


    script( type="text/javascript", src="lib/prism.js" )