!!!
html
  head
    meta(name="viewport", content="width=device-width")
    title="tote - A thin namespaced wrapper for localStorage"
    link(rel="stylesheet", href="theme/default.css" media="screen")
    script(src="prism.js", type="text/javascript")
  body

    header
      .row
        p.brand tote
        nav.main
          ul
            li
              a(href="spec/") Specs
            li
              a(href="https://github.com/rudylattae/tote") Github
    main
      aside.row
        section.blurb
          p A thin namespaced wrapper for localStorage

        section.quickstart
          :markdown
            ```javascript
                var prefs = tote('preferences');
                prefs.set('theme', 'something');
                prefs.get('theme');
                // 'something'
            ```

      article.container
        !=yield

    footer
      .container
        Copyright &copy; ...
